* {
    margin: 0;
    padding: 0;
}

.color-red {
    color: red;
}

body div.main-content h2.heading {
    font-style: italic;
    color: palegreen;
}
div {
    margin-left: 20px;
}

.pai .filha{
    color: red;
}